<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">

    <bean id="product1" class="com.tomashchuk.main.Product">
        <constructor-arg value="IceCream"></constructor-arg>
        <constructor-arg value="banana"></constructor-arg>
    </bean>
    <bean id="product2" class="com.tomashchuk.main.Product">
        <constructor-arg value="IceCream"></constructor-arg>
        <constructor-arg value="chocolate"></constructor-arg>
    </bean>
    <bean id="product3" class="com.tomashchuk.main.Product">
        <constructor-arg value="IceCream"></constructor-arg>
        <constructor-arg value="vanil"></constructor-arg>
    </bean>

    <bean id="iceCream1" class="com.tomashchuk.main.IceCream">
        <property name="title" value="IceCream"></property>
        <property name="details" value="strawberry"></property>
    </bean>
    <bean id="iceCream2" class="com.tomashchuk.main.IceCream">
        <property name="title" value="Brownie"></property>
        <property name="details" value="custard"></property>
    </bean>

    <bean id="IceCream_seller" class="com.tomashchuk.main.IceCreamSeller">
        <property name="iceCream">
            <list>
                <ref bean="iceCream1" />
                <ref bean="iceCream2" />
            </list>
        </property>
    </bean>


</beans>
